*{margin: 0;padding: 0;}
header{
    background-color: #B8E0D4;
    
}

.Timer_div{
    
    position:relative;
    height:12rem ;
    
}
#Timer{
    font-size: 7em;
    position:absolute;
    top:3rem;
    left: 0;
    right: 0;
    text-align: center;
    
}

.RandomText_div{
    
    height:4rem ;

}

#RandomText{
    font-family: Source Sans Pro;
    font-size: 2.5em;
    text-align: center;
}

.ButAns{
    
    height: 4rem;
    display: flex;
    justify-content: center;
    
    
    
}
button#start,button#send{
    cursor: pointer;
    background-color: #95B8D1;
    border: none;
    height: 2.8rem;
    width: 7rem;
    font-size: 25px;
    font-family: Source Sans Pro;
}


#start{
    border-radius: 50px 0 0 50px;
}
#send{
    border-radius: 0 50px 50px 0;

}

#answer{
height: 2.8rem;
width:60rem;
border: none;
font-size:2rem;
font-weight: normal;
font-family: Source Sans Pro;

}
.result{
   
    height: 61.666rem;
    background-color:#D6EADF;
   position: relative;;


}

.anwers{
    /* position: absolute;
    border-radius: 20px;
    background-color: #B8E0D4;   
    width: max-content;
    

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 2rem;  */
    border-radius: 20px;
    background-color: #B8E0D4;   
    width: max-content;
    margin: 0 auto;
   
    /* margin-top: 30px;
    padding: 15px; */
    
   
    
}

#fullanswerList{
    font-family: Source Sans Pro;
    text-align: center;}


/* #count{
    
    text-align: right;
} */

.upRow{
    font-size:25px;
    display: flex;
    justify-content: space-between;
    
}




p.correct,p.wrong{font-size: 25px;}


    p.correct::before{
        content: '';
        width: 14px;
        display: inline-flex;
        height: 14px;
        border-radius: 50%;
        background-color: #2ECC71;
        margin-right: 5px;
        
        
    }
    p.wrong::before{
        content: '';
        width: 14px;
        display: inline-flex;
        height: 14px;
        border-radius: 50%;
        background-color: #FF6361;
        margin-right: 5px;
        
        
    }