*{margin: 0;padding: 0;}
body{
    background-color: #B8E0D4;
}

.Timer_div{
    
    position:relative;
    height:12rem ;
    
}
#Timer{
    font-size: 7em;
    position:absolute;
    top:3rem;
    left: 0;
    right: 0;
    text-align: center;
    
}

.RandomText_div{
    
    height:4rem ;

}

#RandomText{
      
    font-size: 2.5em;
    text-align: center;
}

.ButAns{
    
    height: 4rem;
    display: flex;
    justify-content: center;
    
    
    
}
button#start,button#send{
    cursor: pointer;
    background-color: #95B8D1;
    border: none;
    height: 2.8rem;
    width: 7rem;
    font-size: 23px;
}


#start{
    border-radius: 50px 0 0 50px;
}
#send{
    border-radius: 0 50px 50px 0;

}

#answer{
height: 2.8rem;
width:60rem;
border: none;
font-size:2rem;

}

.anwers{   
    width: max-content;    
}



#count{text-align: right;}


